// pageLayout
  // pageLayout__content

.pageLayout { 
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 20rem var(--padding-lg);
  border-bottom: 5px solid rgba(255, 176, 58, 0.158);
  font-family: var(--font-primary);
}

@media only screen and (max-width: 37.5em) {
  .pageLayout {
    padding: 12rem var(--padding-lg);
  }
}