.textContent {
  width: 100%;
  font-family: var(--font-secondary);
  font-size: var(--text-main);
  color: var(--orange-primary);
  line-height: var(--line-height-text);
  letter-spacing: var(--letter-space-text);

  p:not(:last-child) {
    margin-bottom: 3rem;
  }
}