.button {
  width: 17rem;
  padding: .6rem 2rem;
  background-color: var(--grey-primary);
  font-family: var(--font-secondary);
  font-size: var(--text-main);
  font-weight: 500;
  color: var(--dark-primary);
  border: none;
  border-bottom: 4px solid var(--orange-primary);
  border-radius: 3px;

  &:hover {
    background-color: var(--grey-secondary);
    transform: scale(1.010);
    font-weight: 600;
    transition: scale ease-in-out 0.10s;
  }
}