.form {
  background: #202020;
  border-radius: 1rem;
  border: 5px solid var(--orange-primary);
  overflow: hidden;
  font-family: var(--font-secondary);
  color: var(--orange-primary);

  h2 {
    font-size: 2.2rem;
    font-weight: 400;
  }

  label {
    font-size: 2rem;
    font-weight: 500;
  }

  &__img{
    height: 35vh;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 5rem 10rem;
  }

  &__error {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-size: 2rem;
    border: 2px dotted var(--orange-primary);
  }
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &--small {
    width: 35rem;
  }
}

.input-name-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

@media only screen and (max-width: 37.5em) {
  .form {
    &__img {
      height: 20vh;
    }

    &__content {
      padding: 7rem 5rem;
    }
  }

  .input-container {
    &--small {
      width: 100%;
    }
  }
}