.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 25rem;
  min-height: 25rem;
  padding: 2rem 2rem;
  backdrop-filter: blur(10px);
  border: 5px solid #ffffff09;
  border-radius: 0.5rem;
  box-shadow: 8px 8px 10px -10px rgba(15, 15, 15, 0.75);
  text-align: center;

  &__header {
    margin-bottom: 2rem;
  }
  
  &__subHeader {
    letter-spacing: 0.10rem;
  }

  p {
    font-size: 1.8rem;
    color: var(--orange-primary);
    line-height: 2.2rem;
  }

  &:hover {
    transform: scale(1.01);
  }
}