// navHeading
  // __toggleBtn
  // __toggleIcon

.navHeading {
  display: flex;
  align-items: center;
  height: 6rem;
  padding-right: var(--pr-sm);
  padding-left: var(--pl-lg);
  
  &__toggleBtn {
    display: none;
    visibility: hidden;
    background: none;
    border: none;
    color: var(--grey-primary);
    height: 100%;
    width: 4rem;

    &:hover {
      transform: scale(1.1);
    }

    &:active {
      transform: scale(1);
    }
  }

  &__toggleIcon {
    height: 100%;
    width: 100%;
  }
}

@media screen and (max-width: 48em) {
  .navHeading {
    justify-content: space-between;
    padding-right: var(--padding-md);
 
    &__toggleBtn {
      display: block;
      visibility: visible;
    }
  }
}