.nav__item {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 6rem;
  height: 100%;
  width: 100%;
  position: relative;
  color: var(--grey-primary);
  text-decoration: none;

  &--active {
    background-color: rgb(15 15 15 / 0.35)
  }

  &:hover {
    background-color: #1a1a1a;
  }
}
