.navItem {
  position: relative;
  width: 100%;
  color: var(--grey-primary);
  list-style: none;

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 6rem;
    text-decoration: none;
    color: inherit;

    &--active {
      background-color: #131313;
      color: var(--orange-primary);
    }
  }

  &:hover {
    background-color: var(--dark-nav-hover);
    color: var(--orange-primary);
  }
}
