// accordion
  // accordion__header
    // accordion__icon
  //__content 
    //__textContent

// toggleContent

.accordion {
  max-height: 7rem;
  width: 100%;
  background-color: var(--dark-secondary);
  color: var(--grey-primary);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom: 3px solid var(--orange-primary);
    
  h1 {
    font-size: var(--text-main);
  }
      
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 7rem;
    padding: 0 var(--padding-sm);
    text-transform: capitalize;
    cursor: pointer;
  }
  
  &__icon {
    height: 2rem;
    transition: transform .15s;
    
    &--open {
      transform: rotate(45deg);
    }
     
    & svg {
      height: 100%;
      width: 100%;
      color: var(--orange-primary);
    }
  }
  
  &__content {
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    transition: max-height .25s cubic-bezier(.5,0,.1,1), opacity 0.70s;
  }
  
  &__textContent {
    padding: var(--padding-sm);
    padding-top: 2rem;
  }
}

.toggleContent { 
  max-height: 100rem;
  opacity: 1;
  visibility: visible;
}